extends ./layout.jade

block style
	link(rel="stylesheet" href="/css/index.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css")

block content
	.pageContent(ng-app='pcaApp' ng-controller='ctrl')
		#jumboTron
		#headings
			.container
				.row: .col-md-12
					h1.heading.text-center Adjusting to Meet Your Needs<i id='tm' class="fa fa-trademark"></i>

		#amLogo
			img(src='/img/am-best-logo-retina.png')
		#midHeading
			#content
				h1 PCA Adjusters is Rated and Accepted by the A.M.BEST DIRECTORY of Recommended Insurance Attorneys &amp; Adjusters
			a#more(href='http://www.ambest.com/home/default.aspx' target="_blank") MORE
		#midSection
			.container
				.row
					.col-md-4
						.thumbnail
							a(href='/team'): img#image(src='/img/pca-team.png')
							a(href='/team'): h2.heading.text-center OUR TEAM
							p.text-center.paragraph Meet PCA’s senior claims team who collectively drive the commitment, quality of work and service that our clients require.
					.col-md-4
						.thumbnail
							a(href='/locations'): img#image(src='/img/pca-news-events.png')
							a(href='/locations'): h2.heading.text-center OUR LOCATIONS
							p.text-center.paragraph With our Head Office in the Canada's Capital, we are complimented with two additional fully staffed branch offices in the cities of Kingston & Belleville.
					.col-md-4
						.thumbnail
							a(href='https://w5.pca-adj.com' target="_blank"): img#image(src='/img/pca-login.png')
							a(href='https://w5.pca-adj.com' target="_blank"): h2.heading.text-center CLIENT PORTAL
							p.text-center.paragraph PCA clients – login to review files on a case-by-case basis.
		#services(ng-controller='servicesCtrl')
			.container
				.row
					h1.heading.text-center Our Services
				.row
					.col-md-4(ng-repeat='service in beforeCollapse')
						.service
							img.image(ng-src='{{service.image}}')
							h2.sub-heading {{service.subHeading}}
							.onHover: p.
								<div class='sub-heading'>{{service.subHeading}}</div><br>
								{{service.paragraph}}

				.row#restOfServices.collapse
					.col-md-4(ng-repeat='service in afterCollapse')
						.service
							img.image(ng-src='{{service.image}}')
							h2.sub-heading {{service.subHeading}}
							.onHover: p.
								<div class='sub-heading'>{{service.subHeading}}</div><br>
								{{service.paragraph}}

				.row
					.col-md-12
						button.btn(data-toggle='collapse' data-target='#restOfServices')
							i.fa.fa-chevron-down.fa-3x

block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
	script
		:coffee-script
			##
			$('#services .row i.fa').click ()->
				$(this).toggleClass 'fa-chevron-up fa-chevron-down'

			##load midSection
			app = angular.module 'pcaApp', ['ngSanitize']
			app.controller 'ctrl', ($scope, $http)->
				$http.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/pages/22'
					.then (json)->
						$scope.json = json.data
						$scope.htmlContent = json.data.content.rendered

			## load all services
			app.controller 'servicesCtrl', ($scope, $http)->
				$http.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/service?per_page=50'
					.then (json)->
						$scope.allServices = ( i.acf for i in json.data)
						$scope.beforeCollapse = $scope.allServices[0..2]
						$scope.afterCollapse = $scope.allServices[3..]
						$('#loaderGif').fadeOut 'slow'

			###load slideShow
			$.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/slideshow', (json)->
				slideShow = $('#slideShow')
				images = (img.acf.image for img in json)
				for img in images
					slideShow.append $("<div class='item'><img src='#{img}'></div>")

				##cropSLides
				wid = $(window).width()
				ratio = 1600/840
				height = wid/ratio
				
				if wid > 1600
					$('#slideShow .item img').css {
						"height": "#{height}"
						"width": "#{wid}"
						"margin": " #{(840 - height)/2}px 0px 0px 0px"
					}
				else if wid > 768 and wid <= 1600
					$('#slideShow .item img').css {
						"height": "840px"
						"width": "1600px"
						"margin": "0px 0px 0px #{(wid - 1600)/2}px"
					}
				else if wid <= 768
					$('#slideShow .item img').css {
						"height": "420px"
						"width": "800px"
						"margin": "0px 0px 0px #{(wid - 800)/2}px"
					}

				##init owlCarousel
				slideShow.owlCarousel {
					navigation: false
					slideSpeed: 300
					autoPlay: 3500
					pagination: false
					singleItem: true
				}

			##crop Slides upon resize
			$(window).resize ()->
				wid = $(window).width()
				ratio = 1600/840
				height = wid/ratio
				
				if wid > 1600
					$('#slideShow .item img').css {
						"height": "#{height}"
						"width": "#{wid}"
						"margin": " #{(840 - height)/2}px 0px 0px 0px"
					}
				else if wid > 768 and wid <= 1600
					$('#slideShow .item img').css {
						"height": "840px"
						"width": "1600px"
						"margin": "0px 0px 0px #{(wid - 1600)/2}px"
					}
				else if wid <= 768
					$('#slideShow .item img').css {
						"height": "420px"
						"width": "800px"
						"margin": "0px 0px 0px #{(wid - 800)/2}px"
					}
			###
