extends ./layout.jade

block style
	link(rel="stylesheet" href="/css/posts.css")

block content
	.pageContent(ng-app='pcaApp' ng-controller='ctrl')
		#featureImg
			img(ng-src='{{json.acf.headImage}}')
		#headTitle
			.container: .row: h1.text-center  {{json.acf.pageTitle}}
		//#postsFilter
			.container
				ul
					li: a.btn.btn-default(ng-click='news()') <i class="fa fa-globe"></i> NEWS
					li: a.btn.btn-default(ng-click='events()') <i class="fa fa-users fa-users-3"></i> EVENTS
					li: a.btn.btn-default(ng-click='misc()') <i class="fa fa-bullhorn"></i> MISC
		#main
			.container(ng-controller='catCtrl')
				.row.post(ng-repeat='post in posts | filter:filters' ng-if='catType')
					.col-md-4
						a(ng-href='/post/{{post.id}}'): img(ng-src='{{post.acf.thumbnail}}')
					.col-md-8
						.row
							a(ng-href='/post/{{post.id}}'): h1.postTitle {{post.acf.title}}
						.row
							ul
								li.category(ng-repeat='category in post.categories') {{categories[category]}}
								li.date(ng-init='date = post.date' ng-bind='date | date:"MMMM dd, yyyy"')
						.row
							.postExcerpt(ng-bind-html='post.excerpt.rendered')

block script
	script
		:coffee-script
			##load midSection
			app = angular.module 'pcaApp', ['ngSanitize']
			app.controller 'catCtrl', ($scope, $http)->
				$http.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/categories'
					.then ({data: categories})->
						allCategories = {}
						for category in categories
							allCategories[category.id] = category.name
						$scope.categories = allCategories
			app.controller 'ctrl', ($scope, $http)->
				$http.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/posts?per_page=15'
					.then ({data: posts})->
						$scope.filters = {}
						$scope.catType = true
						$scope.posts = posts

				$http.get 'http://pcaadj.uptowncreativeinc.com/wp-json/wp/v2/pages/249'
					.then (json)->
						$scope.json = json.data

						wid = $(window).width()
						ratio = 1600/340
						height = wid/ratio

						#crop feature image on init
						if wid > 1600
							$('#featureImg img').css {
								'height':"#{height}"
								'width':"#{wid}"
								'margin': "#{(340 - height)/2}px 0px 0px 0px"
							}
						else if wid > 768
							$('#featureImg img').css {
								'height':"340px"
								'width':"1600px"
								'margin': "0px 0px 0px #{(wid-1600)/2}px"
							}
						else if wid <= 768
							$('#featureImg img').css {
								'height':"170px"
								'width':"800px"
								'margin': "0px 0px 0px #{(wid-800)/2}px"
							}
			#crop feature image on resize
			$(window).resize ()->
				wid = $(window).width()
				ratio = 1600/340
				height = wid/ratio

				if wid > 1600
					$('#featureImg img').css {
						'height':"#{height}"
						'width':"#{wid}"
						'margin': "#{(340 - height)/2}px 0px 0px 0px"
					}
				else if wid > 768
					$('#featureImg img').css {
						'height':"340px"
						'width':"1600px"
						'margin': "0px 0px 0px #{(wid-1600)/2}px"
					}
				else if wid <= 768
					$('#featureImg img').css {
						'height':"170px"
						'width':"800px"
						'margin': "0px 0px 0px #{(wid-800)/2}px"
					}